<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/manifest.json">
    <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <meta name="msapplication-config" content="static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:700|Poppins:500|Quicksand:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- W3CSS
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    -->

    <style>
        .w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
        .w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
        @media (min-width:768px){.card-deck{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;margin-right:-15px;margin-left:-15px}.card-deck .card{display:-ms-flexbox;display:flex;-ms-flex:1 0 0%;flex:1 0 0%;-ms-flex-direction:column;flex-direction:column;margin-right:15px;margin-left:15px}}
    </style>

  <title>
    GNR
  </title>
  </head>

  <body>


    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-transparent p-4 text-center">
          <h4 class="text-white">About</h4><br>
          <span class="text-muted">
              Gender Neutral Restrooms (GNR) is a <a href="http://www.congressionalappchallenge.us/" target="_blank">2017 Congressional App Challenge winner</a> web app by Vivian Phung, Rachel Yang, Raymond Huang, and Hannah Barr that helps people find gender-neutral bathrooms from a database of over 50 million businesses across the US.
          </span><br><br>
            <button type="button" class="btn btn-light"><a href="https://github.com/VPhung24/GNR" target="_blank"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png" style="width:50px;padding-bottom:5px;" alt="..."></img></a></button>
          <br><br><hr style="width:60%;">
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-transparent">

        <a class="navbar-brand" href="http://restroom.network/">
            <img src="static/images/rainbow.png" width="30" height="30">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-transparent" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="http://restroom.network/">GNR: Restrooms for All</a>
            <ul>
            </ul>
        </div>

        <button class="btn btn-link material-icons" type="button" style="color: inherit; text-decoration: none;" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            more_vert
        </button>
      </nav>
    </div>

    <!--
    <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" href="http://restroom.network/">
            <img src="static/images/rainbow.png" width="30" height="30">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-transparent" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="http://restroom.network/">GNR: Restrooms for All</a>
            <ul>
            </ul>
        </div>

    </nav>
    -->

    <!--
    <nav class="navbar navbar-light navbar-expand-lg bg-transparent">
        <a class="navbar-brand" href="http://restroom.network/"></a>
            <img src="static/images/rainbow.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand" href="http://restroom.network/">GNR: Restrooms for All</a>
        </div>

        <i class="material-icons">more_vert</i>

    </nav>
    -->

			{% block body %}

      {% endblock %}
</body>

</html>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

